---
import Layout from "../layouts/Layout.astro";
import { Chart } from "../components/Chart";
---

<Layout title="Let the bike shedding hit the fan...">
	<section class="space-y-6 pb-8 pt-6 md:pb-12 md:pt-10 lg:py-32">
		<div class="max-w-[64rem] flex flex-col items-center gap-4 text-center mx-auto">
			<h1
				class="font-heading text-3xl sm:text-5xl md:text-6xl lg:text-7xl"
			>
				The bike shed corner: many thoughts and probably more really ill informed opinions.
			</h1>
			<p
				class="max-w-[42rem] leading-normal text-muted-foreground sm:text-xl sm:leading-8"
			>
				What better place to air out the laundry than in public. We all get to poke holes in 
				our clothing decisions, detergent choices, and general clothing spacing. But really, 
				let me attempt to talk about what interests me and hopefully get some community 
				engagement, and create a selfish feedback mechanism.
			</p>
			</div>
		</div>
	</section>
</Layout>
