---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ruth's stuff" description="Just seeing what this does">
  <div class="prose dark:prose-invert max-w-none">
    <article>
        <head>What does this do?</head>
        <p>This is just checking what this does</p>
        <p>This is just checking what this does</p>
        <p>This is just checking what this does</p>
        <p>This is just checking what this does</p>
        <footer>Yeah I am done.</footer>
    </article>
  </div>
</Layout> 