---
import TicTacToe from '../components/TicTacToe';
---

<main style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 100vh;">
  <TicTacToe client:only="react" />
</main> 